body::before{
    display: block;
    content: '';
    height: 60px;

}
.custom-bg-color{
    background-color: #4f3895;
}
.custom-dark-color{
    background-color: #e3dff3;
}
@media(min-width:768px){
    .carousel-img,.contact-form,.contact-content{
        width: 50%;
    }
}